@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
}

button {
  border-radius: 0px !important;
}

a,
button,
code,
div,
img,
input,
label,
li,
p,
pre,
select,
span,
svg,
table,
td,
textarea,
th,
ul {
  border-radius: 0px !important;
}